
@{
    ViewData["Title"] = "checkYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="form-box col-6" style="margin-top:-200px; margin-left:-50px;">
            <div class="login-container ">               
                <p> <h2>Password Reset Link Has Been Send to your Email , Please Check your Inbox :) </h2> </p>
            </div>
           


        </div>
 @*        <div style="  border-left: 2px solid rgb(34, 35, 40);
                      height: 300px;
                      position:absolute;
                      left: 50%;
                      margin-top:-170px;
                        ">
        </div> *@
        <div class="col-6" style="margin-top:-50px; margin-right:100px;">
            <p> <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" > <h2>Your Inbox</h2> </a> </p>
        </div>
    </div>
</div>




