@model ForgetPasswordViewModel


@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="form-box col-6" style="margin-top:-200px; margin-left:-50px;">
            <div class="login-container ">
                <div asp-validation-summary="All"> </div>
                <form asp-action="SendResetPasswordUrl" >
                    <div class="top" style="margin-bottom:60px;">
                        <h1>Reset Password</h1>
                    </div>
                    <div class="input-box">
                        <input asp-for="Email" class="input-field" placeholder="Email">
                        <i class="bx bx-user"></i>
                    </div>
                   
                    <div id=""></div>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Reset Password">
                    </div>
                   
                </form>

            </div>

        </div>
        <div style="  border-left: 2px solid rgb(34, 35, 40);
                      height: 300px;
                      position:absolute;
                      left: 50%;
                      margin-top:-170px;
                        ">
        </div>
        <div class="col-6">
            <div class="container" style="margin-right:-150px; margin-top:-100px">
                <i class="fa fa-key fa-9x" aria-hidden="true"></i>

            </div>
        </div>
    </div>
</div>





@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />
}















