@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="container row">
    <div class="container col-6 " style="margin-left:-60px; margin-top:-180px;">
        <div class="register-container">
            <div asp-validation-summary="All"> </div>
            <form asp-action="ResetPassword">

                <div class="top" style="margin-bottom:30px;">
                    <h1>Reset Password</h1>
                </div>

                
                    <div class="input-box ">
                        <input type="password" class="input-field" asp-for="NewPassword" placeholder=" New Password" required="">
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box ">
                        <input type="password" class="input-field" asp-for="ConfirmPassword" placeholder="Confirm New Password" required="">
                        <i class="bx bx-lock-alt"></i>
                    </div>
               
                <div class="input-box">
                    <input type="submit" class="submit" value="Reset Password">
                </div>
            </form>
        </div>

    </div>
    <div style="  border-left: 2px solid rgb(34, 35, 40);
                      height: 400px;
                      position:absolute;
                      left: 50%;
                      margin-top:-100px;
                      margin-left:60px;
                        ">
    </div>

    <div class="col-6">
        <div class="container" style="margin-right:-150px; margin-top:10px">
            <span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
            <h1 class="animated fadeInUp mb-5"> Welcome <br />To Our Website</h1>

        </div>
    </div>
</div>


@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />
}



